<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <oag_blog>
            <general>
                <enabled>0</enabled>
            </general>
            <index_page>
                <title>Blog</title>
                <posts_per_page>10</posts_per_page>
                <display_blog_summary>0</display_blog_summary>
            </index_page>
            <topmenu>
                <show_item>0</show_item>
                <item_text>Blog</item_text>
            </topmenu>
        </oag_blog>
    </default>
</config>
