//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    ul.post-list {
        list-style: none;
        padding: 0;
        .image-container {
            overflow: hidden;
            .image-background {
                padding-top: 100%;
                background-size: cover;
                background-position: center;
                transition: transform .3s ease,opacity .3s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        .title {
            margin-bottom: 2rem;
            h2 {
                margin-bottom: 0;
                a {
                    color: inherit;
                    &:visited, &:hover {
                        color: inherit;
                    }
                }
            }
        }
    }

    .oag-post {
        .main-image img {
            width: 100%;
        }

        .post-info-wrapper {
            margin: 0.8rem 0 1rem;
        }

        .post-nextprev {
            padding: 1rem 0;
            border-top: 1px solid lighten(@theme__color__primary, 70%);
            border-bottom: 1px solid lighten(@theme__color__primary, 70%);
            margin: 1rem 0;
            .post-prev, .post-next {
                width: 50%;
                display: inline-block;
                font-weight: bold;
                font-size: 2rem;
                vertical-align: middle;
                &:first-child:last-child {
                    width: 100%;
                }
                a {
                    color: @theme__color__primary;
                    display: block;
                    &:hover {
                        text-decoration: none;
                    }
                    span {
                        display: block;
                        text-decoration: none;
                        font-weight: normal;
                        font-size: 1.4rem;
                        color: @primary__color__lighter;
                    }
                }
            }

            .post-prev {
                text-align: right;
                a {
                    padding-left: 0.8rem;
                }
            }

            .post-next {
                text-align: left;
                a {
                    padding-right: 0.8rem;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    ul.post-list li {
        width: calc((100% - 6%) / 3);
        display: inline-block;
        margin: 1rem 3%;
        vertical-align: top;
        &:nth-child(3n+0) {
            margin: 1rem 0;
        }
        &:nth-child(3n+1) {
            margin: 1rem 0;
        }
    }
    
}

//
//  Responsive
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    ul.post-list li {
        width: calc((100% - 6%) / 2);
        display: inline-block;
        margin: 1rem 3%;
        vertical-align: top;
        &:nth-child(2n+0) {
            margin-right: 0;
        }
        &:nth-child(2n+1) {
            margin-left: 0;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    ul.post-list li {
        width: 100%;
        display: block;
        margin: 1rem 0;
    }
}