<?xml version="1.0"?>
<!-- set admin menu -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="OAG_Blog::post" title="OAG Blog - Post" module="OAG_Blog" sortOrder="999" parent="Magento_Backend::content" action="oag_blog/post" resource="OAG_Blog::post"/>
    </menu>
</config>