<?xml version="1.0"?>
<!-- admin panel router -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="oag_blog" frontName="oag_blog">
            <module name="OAG_Blog" />
        </route>
    </router>
</config>